@inherits LayoutComponentBase

<RadzenComponents />

<RadzenLayout>
    <RadzenHeader style="background-color: #4CAF50; color: white;">
        <div class="flex items-center justify-between px-4 h-full">
            <div class="text-xl font-semibold">CIS - Custom Install Software</div>
            <div class="flex items-center space-x-4">
                <!-- Add user profile dropdown or any other header elements here -->
                <!-- Example: <UserProfileDropdown /> -->
            </div>
        </div>
    </RadzenHeader>
    <RadzenSidebar>
        <NavMenu />
    </RadzenSidebar>
    <RadzenBody>
        <RadzenContentContainer>
            @Body
        </RadzenContentContainer>
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Inject] 
    public NavigationManager Navigation { get; set; }

    private bool sidebar1Expanded = true;

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += LocationChanged;
    }

    private void LocationChanged(object sender, LocationChangedEventArgs args)
    {
        //TODO:
        //Lag mapping mellom route og header title
        //HeaderTitle kan da settes her
    }

    private void ToggleExpand()
    {
        sidebar1Expanded = !sidebar1Expanded;
    }
}
