@inherits LayoutComponentBase
@rendermode InteractiveAuto

<MudThemeProvider IsDarkMode=true  />
<MudDialogProvider />
<MudSnackbarProvider />



<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Edge=Edge.Start @onclick=DrawerToggle/>
        CIS
    </MudAppBar>
    <MudDrawer  @bind-Open=drawerOpen >
        <MudDrawerHeader Class="flex w-full align-center">
                <MudText>CIS</MudText>
        </MudDrawerHeader>
        <MudDrawerContainer Class="flex flex-col ">
            <NavMenu/>
        </MudDrawerContainer>
    </MudDrawer>
    <MudMainContent>
        <MudContainer Class="pt-[10px]">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{


    [Inject] 
    public NavigationManager Navigation { get; set; }

    bool drawerOpen;



    protected override void OnInitialized()
    {
        Navigation.LocationChanged += LocationChanged;
    }

    private void LocationChanged(object sender, LocationChangedEventArgs args)
    {
        //TODO:
        //Lag mapping mellom route og header title
        //HeaderTitle kan da settes her
    }


    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if(drawerOpen)
            drawerOpen = false;

    }

    private void DrawerToggle()
    {
        Console.WriteLine("Hello there");
        drawerOpen = !drawerOpen;
        StateHasChanged();
    }
}