@inherits LayoutComponentBase


@* <FluentDesignTheme StorageName="theme" Mode="DesignThemeModes.Dark" /> *@


<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />

<FluentMainLayout>
    <Header>
        <div>
            <FluentLabel >CIS</FluentLabel>
        </div>
    </Header>
    <NavMenuContent>
        <NavMenu/>
    </NavMenuContent>
    <Body>
        @Body
    </Body>
</FluentMainLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Inject] 
    public NavigationManager Navigation { get; set; }

    private bool sidebar1Expanded = true;

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += LocationChanged;
    }

    private void LocationChanged(object sender, LocationChangedEventArgs args)
    {
        //TODO:
        //Lag mapping mellom route og header title
        //HeaderTitle kan da settes her
    }

    private void ToggleExpand()
    {
        sidebar1Expanded = !sidebar1Expanded;
    }
}
