@inherits LayoutComponentBase
@rendermode InteractiveAuto

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />



<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Edge=Edge.Start @onclick=DrawerToggle/>
        CIS
    </MudAppBar>
    <MudDrawer Open=drawerOpen>
        <MudNavMenu>
            <MudNavLink Href="/">Home</MudNavLink>
            <MudNavLink Href="/weather">Weather</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        <MudContainer>
            <MudButton OnClick="DrawerToggle">Test</MudButton>
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Inject] 
    public NavigationManager Navigation { get; set; }

    private bool sidebar1Expanded = true;

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += LocationChanged;
    }

    private void LocationChanged(object sender, LocationChangedEventArgs args)
    {
        //TODO:
        //Lag mapping mellom route og header title
        //HeaderTitle kan da settes her
    }
@code{
    bool drawerOpen;

    private void DrawerToggle()
    {
        Console.WriteLine("Hello there");
        drawerOpen = !drawerOpen;
        StateHasChanged();
    }
}