@inherits LayoutComponentBase

<FluentDesignTheme StorageName="theme" Mode="DesignThemeModes.Dark" />

<RadzenComponents />
<FluentToastProvider Timeout="2000" MaxToastCount="20"/>
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />

<FluentMainLayout >
    <NavMenuContent>
        <NavMenu />
    </NavMenuContent>
    <Header>
        <div class="flex">
            <FluentLabel Class="!font-bold" Color="Color.Fill"  >CIS</FluentLabel>
        </div>
    </Header>
    <Body>
        <div class="p-3 flex flex-col max-h-full h-full">
            @Body
        </div>
    </Body>
</FluentMainLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Inject] 
    public NavigationManager Navigation { get; set; }

    private bool sidebar1Expanded = true;

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += LocationChanged;
    }

    private void LocationChanged(object sender, LocationChangedEventArgs args)
    {
        //TODO:
        //Lag mapping mellom route og header title
        //HeaderTitle kan da settes her
    }

    private void ToggleExpand()
    {
        sidebar1Expanded = !sidebar1Expanded;
    }
}
