################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CIS/.vs/CIS
/CIS/obj/Debug/net8.0
/CIS/obj
/CIS.Domain/obj
