################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CIS/.vs/CIS
/.idea
/CIS/.idea

/CIS/obj/Debug/net8.0
/CIS/obj
/CIS.Domain/obj
/CIS/.vs/ProjectEvaluation
/CIS/bin/Debug/net8.0
/CIS.Client/bin/Debug/net8.0
/CIS.Client/obj
/CIS.Domain/bin/Debug/net8.0
/CIS/node_modules
/.vs/bao-its-halseth/v17
/CIS.DataAccess/obj
/CIS.DataAccess.Tests/bin/Debug/net8.0
/CIS.DataAccess.Tests/obj
/CIS.UnitTesting/obj
/CIS.UnitTesting.DataAccess/bin/Debug/net8.0
/CIS.DataAccess/bin/Debug/net8.0
/CIS.UnitTesting/bin/Debug/net8.0
/CIS.UnitTesting.DataAccess/obj/Debug/net8.0
/CIS.UnitTesting.DataAccess/obj
/CIS.UnitTesting/bin/Debug/net8.0
/CIS.UnitTesting.DataAccess/obj
/CIS.DataAccess/bin/Debug/net8.0/CIS.DataAccess.dll
/CIS.DataAccess/bin/Debug/net8.0/CIS.DataAccess.pdb
/CIS.Library/bin/Debug/net8.0
/CIS.Library/obj/Debug/net8.0
/CIS.Library/obj
/CIS.DataAccess/bin/Debug/net8.0

/CIS/Shared/Import
/CIS/appsettings.Development.json
/CIS.Application/bin/Debug/net8.0
/CIS.Application/obj
/.vs
/CIS.WebApp/bin/Debug/net8.0
/CIS.WebApp/node_modules
/CIS.WebApp/obj
/CIS.Tests/bin/Debug/net8.0
/CIS.Tests/obj
/CIS.Tests.Integration/obj
/CIS.Tests.Integration/bin/Debug/net8.0
