################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CIS/.vs/CIS
/CIS/obj/Debug/net8.0
/CIS/obj
/CIS.Domain/obj
/CIS/.vs/ProjectEvaluation
/CIS/bin/Debug/net8.0
/CIS.Client/bin/Debug/net8.0
/CIS.Client/obj
/CIS.Domain/bin/Debug/net8.0
/CIS/node_modules
/.vs/bao-its-halseth/v17
/CIS.DataAccess/obj
