@using CIS.Application
@using CIS.Application.Shared.Repositories
@using CIS.WebApp.Components.Layout.Customer
@using Radzen.Blazor
@inherits LayoutComponentBase

<RadzenComponents />
<RadzenDialog />

<AuthorizeView Policy="@UserTypes.ADMINISTRATOR">
    <Authorized>
        <RadzenLayout>
            <CascadingValue TValue="bool" Value="_showMigrationPage" Name="ShowMigrationPage">
                <RadzenHeader style="background-color: #4CAF50; color: white;">
                    <div class="flex items-center justify-between px-4 h-full">
                        <div class="text-xl font-semibold">CIS - Custom Install Software</div>
                        <div class="flex items-center space-x-4">
                            <span class="material-symbols-sharp">account_circle</span>
                            <label>@context?.User?.Identity?.Name</label>
                        </div>
                    </div>
                </RadzenHeader>
                <RadzenSidebar>
                    <NavMenu />
                </RadzenSidebar>
                <RadzenBody>
                    <RadzenContentContainer>
                            @Body
                    </RadzenContentContainer>
                </RadzenBody>
            </CascadingValue>
        </RadzenLayout>
    </Authorized>
</AuthorizeView>

<AuthorizeView Policy="@UserTypes.CUSTOMER">
    <Authorized>
        <RadzenLayout>
            <RadzenHeader style="background-color: #4CAF50; color: white;">
                <div class="flex items-center justify-between px-4 h-full">
                    <div class="text-xl font-semibold">CIS - Kundeportal</div>
                    <div class="flex items-center space-x-4">
                        <span class="material-symbols-sharp">account_circle</span>
                        <label>@context?.User?.Identity?.Name</label>
                    </div>
                </div>
            </RadzenHeader>
            <RadzenSidebar>
                <CustomerNavMenu />
            </RadzenSidebar>
            <RadzenBody>
                <RadzenContentContainer>
                    @Body
                </RadzenContentContainer>
            </RadzenBody>
        </RadzenLayout>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code{

    [Inject] public required IMigrationTaskRepo MigrationTaskRepo { get; set; }



    private bool _showMigrationPage = true;

    private readonly CancellationTokenSource cts = new();

    protected override async Task OnInitializedAsync()
    {
        _showMigrationPage = await MigrationTaskRepo.IsAllMigrationsExecuted(cts.Token) == false;
        StateHasChanged();
    }


}