@page "/customer/home"
@attribute [Authorize(Policy = UserTypes.CUSTOMER)]
@using CIS.Application
@using Microsoft.AspNetCore.Authorization

@if (_signedOnUser is not null)
{
    <h1>Hei @_signedOnUser.CustomerName</h1>
}

