@page "/"

<PageTitle>Dashboard/Salgstall</PageTitle>


<div>
    @if (_uncompletedMigrationTasks?.Any() == true)
    {
        <div class="flex flex-col gap-2 text-center bg-white p-6 rounded-xl my-4">
            <h1 class="text-2xl">Hei, Ole-Hermann!</h1>
            <p class="text-xl">Velkommen til din nye applikasjon.</p>
            <p class="text-md font-bold">
                For å gjennomrette systemet har vi laget en migreringsrutine for deg.
                Dette må fullføres før du kan ta i bruk systemet.    
            </p>

            <a class="text-xl my-2 underline" href="/import-legacy">Klikk her for å starte migreringen</a>
        </div>
    }
    else
    {
        <h1>Her er dashboardet vettu!</h1>
    }
</div>