@using CIS.Library.Customers.Models
@typeparam TItem
@attribute [CascadingTypeParameter(nameof(TItem))]

<div class="flex flex-col  h-full" >
    <div class="flex gap-2 bg-white p-1 rounded-t">
        @Toolbar
        <RadzenTextBox class="ml-auto" @bind-Value="_filter" @bind-Value:event="OnInput" @onchange=FilterChanged/>
    </div>

    <RadzenDataGrid 
        TItem="TItem"
        Data="Items"
        
        FilterMode="FilterMode.Advanced"
        AllowFiltering="true"
        AllowPaging="true"
        AllowSorting="true"
        AllowMultiColumnSorting="true"
        AllowColumnPicking="true"
        AllowGrouping="true"
        PageSize="1000"
        Style="height: 100%">
    
        @DataColumns
    </RadzenDataGrid>
</div>

@code{

    [Parameter]
    public List<TItem> Items { get; set; }

    [Parameter]
    public TItem ItemSelected { get; set; }

    [Parameter]
    public EventCallback<TItem> ItemSelectedChanged { get; set; }

    [Parameter]
    public RenderFragment DataColumns { get; set; }

    [Parameter]
    public RenderFragment Toolbar { get; set; }

    [Parameter]
    public Func<string, TItem, bool> Filter { get; set; }

   


    private string _filter;

    private IQueryable<TItem> _displayData;

    private async void ItemSelected_Changed(TItem itemSelected)
    {
        ItemSelected = itemSelected;
        await ItemSelectedChanged.InvokeAsync(ItemSelected);
    }

    private void FilterChanged()
    {
        if (string.IsNullOrEmpty(_filter)) return;

        var filter = _filter.ToLower();
        _displayData = Items.Where(s => Filter.Invoke(filter, s)).AsQueryable();
    }
}
